<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
        <title>Customer Satisfaction Survey</title>
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">   
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
        <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
       
        <script>
            $(document).ready(function(){
                $('#myTable').dataTable();
                $('.dataTables_length').addClass('bs-select');
            });
            </script>

    </head>
    <body>
        <h4>Feedback submitted succesfully!</h4><br><br>
    
        <div class="container mb-5 mt-3">
            <table id="myTable" class="table table-striped table-bordered table-sm" cellspacing="0" style="width: 100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Service</th>
                        <th>Rating</th>
                        <th>Comment</th>
                        <th>Name</th>
                        <th>Phone No</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
                {{#rows}}
                    <tr>
                        <td>{{sid}}</td>
                        <td>{{service}}</td>
                        <td>{{rating}}</td>
                        <td>{{comment}}</td>
                        <td>{{name}}</td>
                        <td>{{phonenumber}}</td>
                    </tr>
                    {{/rows}}
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Service</th>
                        <th>Rating</th>
                        <th>Comment</th>
                        <th>Name</th>
                        <th>Phone No</th>
                    </tr>
                </tfoot>
            </table>

        </div>

        
    </body>
</html>